body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #000000;
    background-color: #ffffff;
}

h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #000000;
}
html,
body,
.intro {
    height: 50%;
}


table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0666a3;
}

div.formFilter{
    display: flex;
    justify-content: center;


}
#element1{display:block;margin-right:10px;}
#element2{display:block;}

#element3{display:inline-block;margin-right:10px;}
#element4{display:inline-block;}


#element5{display:block;}
#element6{display:block;}
#element7{display:block;}
#element8{display:block;}
