body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #000000;
    background-color: #ffffff;
}

h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #000000;
}

.recherche{
    margin-bottom: 15px;
    position: relative;
}

.row{
    margin-bottom: 15px;
}
html,
body,
.intro {
    height: 50%;
}




.container {
    margin-right: auto;
    margin-left: auto;
}


table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card {
    border-radius: .5rem;
}

.table-scroll {
    border-radius: .5rem;
}

thead {
    top: 0;
    position: sticky;
}


button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-left: 800px;
}
button:hover {
    background-color: #0666a3;
}
table {
    border: 1px solid;
    margin: 5px;
    width: 100%;
    border-collapse: collapse;
}

div.formFilter{
    display: flex;
    justify-content: center;
}

.formFilter{
    margin-left: 300px;
    margin-bottom: 10px;
}

#element1{display:inline-block;margin-right:10px;}
#element2{display:inline-block;}

#element3{display:inline-block;margin-right:10px;}
#element4{display:inline-block;}


#element5{display:block;}
#element6{display:block;}
#element7{display:block;}
#element8{display:block;}

.otherUser{
    color: #000000;
    text-decoration: none;
}