{% extends "base.html.twig" %}

{% block body %}
    <h1>Annuler une sortie</h1>




    {{ form_start(cancelForm) }}
    {{ form_widget(cancelForm) }}



    {{ form_end(cancelForm) }}



{% endblock %}