{% extends "base.html.twig" %}

{% block body %}
<h1>Afficher une sortie</h1>


    <div>
        <p>Nom de la sortie </p>
        <p>Date et heure de la sortie</p>
        <p>Date limite d'inscription</p>
        <p>Nombre de places : </p>
        <p>Durée : minutes</p>
        <p>Description et infos</p>
    </div>

    <div>
        <p>Campus</p>
        <p>Lieu</p>
        <p>Rue</p>
        <p>Code postal</p>
        <p>Latitude</p>
        <p>Longitude</p>
    </div>


    <p>Liste des participants inscrits</p>
    <div>
        La réalisation d'éléments web de ce type ce fait essentiellement en CSS
        https://www.quackit.com/html/codes/html_scroll_box.cfm
    </div>




{% endblock %}