{% extends "base.html.twig" %}
{% block body %}
    {% include 'headerNav.html.twig'%}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Ajouter</button>
    {{ form_end(sortieForm) }}



{% endblock %}
