<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% block nav %}
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-sm navbar-dark bg-black py-0 px-0">
        <a class="navbar-brand" ><img id="logo" src="https://thumbs.dreamstime.com/b/ic-ne-v%C3%A9rifi%C3%A9e-de-calendrier-logo-solide-d-%C3%A9v%C3%A9nement-isolat-de-pictogramme-90234676.jpg"> &nbsp;&nbsp;&nbsp;Sortir</a>
</div>



{% endblock %}

